<mat-card class="jobAd-add">
    <fa-icon id="jobAd-dialog-close"
      (click)="onClose()"
      [ngStyle]="{color:'black'}"
      [icon]="faTimes"
    ></fa-icon>
    <mat-card-header>Add Job Advertisment</mat-card-header>
    <mat-card-content>
        <div class="form-group">
            <label for="add-title">Title</label><br>
            <input type="text"  [(ngModel)]="title" id="add-title">
        </div>
        <div class="form-group" id="select-container">
            <label for="add-employement-type">Employment Type</label><br>
            <select  type="text" [(ngModel)]="employementType" id="add-employement-type">
                <option value="FULLTIME" selected>Full-time</option>
                <option value="PARTTIME">Part-time</option>
                <option value="TEMPORARY">Temporary</option>
                <option value="INTERNSHIP">Internship</option>
            </select>
        </div>
        <div class="form-group">
            <label for="add-location">Location</label><br>
            <input type="text" [(ngModel)]="location" id="add-location">
        </div>
        <div class="form-group">
            <label for="add-remote"><span id="remote-span">Remote</span></label><br>
            <input type="radio" id="add-remote" [(ngModel)]="remote" value="true"> Yes   
            <input type="radio" id="add-remote" [(ngModel)]="remote" value="false"> No
        </div>
        <div class="form-group">
            <label for="add-description">Description</label><br>
            <textarea  type="text" [(ngModel)]="description" id="add-description" placeholder="Job's description..."></textarea>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button id="add-jobAd-button" color="primary" (click)="onSubmit()">Add Advertisment</button>
    </mat-card-actions>
</mat-card>